@import "../../vars";

.arg-input {
  border: 1px dashed @border-color;
  &:has(.arg-input_config_collapse) {
    height: 24px;
  }
  .arg-input_item {
    margin-right: 2px;

    &.selected {
      border-style: solid;
      background-color: red;
    }
  }
  .arg-input_config {
    width: 100%;
    overflow: hidden;
    height: max-content;
    transition: height 200ms;
  }
  .arg-input_config_expand {
    height: max-content;
  }
  .arg-input_config_collapse {
    height: 0;
  }
}
