html,body {
    padding: 0;
    margin: 0;
}
html,
body,
#root,.ant-app,
.main-layout,
.main-layout_sider {
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.main-layout {
    height: 100%;
}
#root .ant-layout-sider, #root .ant-layout-header {
    background-color: #141414;
}

#root .ant-menu-submenu a {
    color: inherit;
}
::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 3px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
    background: black;
}

::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 10px;
    background-color: rgb(62, 64, 65);
    background-image: -webkit-linear-gradient(45deg,
    rgba(255, 255, 255, 0.2) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.2) 50%,
    rgba(255, 255, 255, 0.2) 75%,
    transparent 75%,
    transparent);
}

::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: black;
    border-radius: 10px;
}

.logo.vite:hover {
    filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafb);
}

.ant-card,
.ant-card .ant-card-body {
    border-radius: 0px;
}

:root {
    --active-border-color: #1668dc;
    --active-color: #1668dc;
    --active-background-color: #111a2c;
}

.rick-can-selected {

}
.rick-can-selected:hover,
.rick-can-selected.rick-selected {
    outline-color: var(--active-border-color);
    color: var(--active-color);
    background-color: var(--active-background-color);
}
