@import "../../vars";

.app_page {
  .group {
    width: 300px;
  }
  .ant-card {
    .ant-card-body {
      min-height: 100px;
    }
  }
  .app-context-menu-layout {
    background-color: #111a2c90;
    backdrop-filter: blur(2px);
    box-shadow: 0px 0px 8px #111a2c;
    border: 1px solid #212457;
    padding: 4px 8px;
    min-width: 100px;
  }
}
.app_page-form_border {
  position: relative;
}
.app_page-form_border::after {
  border-right: 1px dashed @border-color;
  content: ' ';
  position: absolute;
  top: 27px;
  right: 0;
  height: 100%;
}


